// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  margin: 0 auto;
}

.btn {
  margin-top: 20px;
  text-decoration: none;
}

.border-top {
  margin-top: 20px;
}

.back-link {
  margin-top: 15px;
}
